Repository fss-fmi/sugaming, pull requests merged in 2024-01, with the labels that each got.

#72 feat(#67): CS2 team invitations API support
  apps/sugaming-api/assets/i18n/bg/errors.json
  apps/sugaming-api/assets/i18n/bg/responses.json
  apps/sugaming-api/assets/i18n/bg/validation.json
  apps/sugaming-api/assets/i18n/en/errors.json
  apps/sugaming-api/assets/i18n/en/responses.json
  apps/sugaming-api/assets/i18n/en/validation.json
  apps/sugaming-api/src/app/app.config.ts
  apps/sugaming-api/src/auth/exceptions/auth-unauthorized.exception.ts
  apps/sugaming-api/src/auth/strategies/local.strategy.spec.ts
  apps/sugaming-api/src/auth/strategies/local.strategy.ts
  apps/sugaming-api/src/cs2/teams/cs2-teams.controller.ts
  apps/sugaming-api/src/cs2/teams/cs2-teams.module.ts
  apps/sugaming-api/src/cs2/teams/cs2-teams.service.spec.ts
  apps/sugaming-api/src/cs2/teams/cs2-teams.service.ts
  apps/sugaming-api/src/cs2/teams/dto/cs2-teams-get-join-requests-params.dto.ts
  apps/sugaming-api/src/cs2/teams/dto/cs2-teams-post-join-requests-params.dto.ts
  apps/sugaming-api/src/cs2/teams/dto/cs2-teams-post-join-requests-respond-params.dto.ts
  apps/sugaming-api/src/cs2/teams/dto/cs2-teams-post-join-requests-respond-request-body.dto.ts
  apps/sugaming-api/src/cs2/teams/dto/cs2-teams-post-join-requests.dto.ts
  apps/sugaming-api/src/cs2/teams/dto/cs2-teams-post.dto.ts
  apps/sugaming-api/src/cs2/teams/dto/post-team-join-request-accept-request.dto.ts
  apps/sugaming-api/src/cs2/teams/exceptions/cs2-teams-already-in-team.exception.ts
  apps/sugaming-api/src/cs2/teams/exceptions/cs2-teams-already-requested-to-join-team.exception.ts
  apps/sugaming-api/src/cs2/teams/exceptions/cs2-teams-name-already-exists.exception.ts
  apps/sugaming-api/src/cs2/teams/exceptions/cs2-teams-no-such-join-request.exception.ts
  apps/sugaming-api/src/cs2/teams/exceptions/cs2-teams-no-such-team.exception.ts
  apps/sugaming-api/src/cs2/teams/exceptions/cs2-teams-not-capitan.exception.ts
  apps/sugaming-api/src/cs2/teams/exceptions/cs2-teams-team-is-full.exception.ts
  apps/sugaming-api/src/users/dto/users-post-current-cs2-team-invites-respond-params.dto.ts
  apps/sugaming-api/src/users/dto/users-post-current-cs2-team-invites-respond-request-body.dto.ts
  apps/sugaming-api/src/users/exceptions/users-already-in-team.exception.ts
  apps/sugaming-api/src/users/exceptions/users-cannot-invite-self.exception.ts
  apps/sugaming-api/src/users/exceptions/users-invite-already-pending.exception.ts
  apps/sugaming-api/src/users/exceptions/users-no-such-invite.exception.ts
  apps/sugaming-api/src/users/exceptions/users-no-such-team.exception.ts
  apps/sugaming-api/src/users/exceptions/users-no-such-user.exception.ts
  apps/sugaming-api/src/users/exceptions/users-not-invitee-of-invite.exception.ts
  apps/sugaming-api/src/users/exceptions/users-not-member-of-cs2-team.exception.ts
  apps/sugaming-api/src/users/exceptions/users-only-captain-can-invite.exception.ts
  apps/sugaming-api/src/users/exceptions/users-team-is-full.exception.ts
  apps/sugaming-api/src/users/users.controller.ts
  apps/sugaming-api/src/users/users.service.spec.ts
  apps/sugaming-api/src/users/users.service.ts
  apps/sugaming-site/app/[locale]/page.tsx
  prisma/migrations/20231025122308_user_basic_information/migration.sql
  prisma/migrations/20231226010640_cs2_teams_init/migration.sql
  prisma/migrations/20231228011157_cs2_team_invitations_and_requests/migration.sql
  prisma/schema.prisma
Labels: feature, api

#73 refactor(#69, #70): Refactored Prisma table and model names + Improved exceptions
  apps/sugaming-api/src/auth/auth.controller.ts
  apps/sugaming-api/src/auth/dto/login.dto.ts
  apps/sugaming-api/src/auth/guards/jwt-refresh.guard.ts
  apps/sugaming-api/src/cs2/teams/cs2-teams.controller.ts
  apps/sugaming-api/src/cs2/teams/cs2-teams.service.ts
  apps/sugaming-api/src/prisma/prisma.service.mock.ts
  apps/sugaming-api/src/users/users.controller.ts
  apps/sugaming-api/src/users/users.decorator.ts
  apps/sugaming-api/src/users/users.service.ts
  prisma/migrations/20231025122308_user_basic_information/migration.sql
  prisma/migrations/20231226010640_cs2_teams_init/migration.sql
  prisma/migrations/20231228011157_cs2_team_invitations_and_requests/migration.sql
  prisma/schema.prisma
Labels: feature, api

#75 feat(#40, #41): Discord and Steam account linking
  .env.template
  apps/sugaming-api-e2e/src/sugaming-api/health-controller.spec.ts
  apps/sugaming-api/assets/i18n/bg/errors.json
  apps/sugaming-api/assets/i18n/en/errors.json
  apps/sugaming-api/src/app/app.config.ts
  apps/sugaming-api/src/auth/auth.controller.ts
  apps/sugaming-api/src/auth/auth.module.ts
  apps/sugaming-api/src/auth/guards/discord-auth.guard.ts
  apps/sugaming-api/src/auth/guards/jwt-refresh.guard.ts
  apps/sugaming-api/src/auth/guards/optional-jwt-auth.guard.ts
  apps/sugaming-api/src/auth/guards/steam-auth.guard.ts
  apps/sugaming-api/src/auth/strategies/anonymous.strategy.ts
  apps/sugaming-api/src/auth/strategies/discord.strategy.ts
  apps/sugaming-api/src/auth/strategies/jwt.strategy.ts
  apps/sugaming-api/src/auth/strategies/steam.strategy.ts
  apps/sugaming-api/src/health/health.controller.spec.ts
  apps/sugaming-api/src/health/health.controller.ts
  apps/sugaming-api/src/health/health.module.ts
  apps/sugaming-api/src/users/exceptions/users-cannot-invite-self.exception.ts
  apps/sugaming-api/src/users/exceptions/users-discord-account-already-linked.exception.ts
  apps/sugaming-api/src/users/exceptions/users-not-member-of-cs2-team.exception.ts
  apps/sugaming-api/src/users/exceptions/users-steam-account-already-linked.exception.ts
  apps/sugaming-api/src/users/users.service.ts
  package.json
  prisma/migrations/20240108111108_discord_account_linking/migration.sql
  prisma/migrations/20240109020934_steam_account_linking/migration.sql
  prisma/schema.prisma
  yarn.lock
Labels: api

#79 feat(#45): Endpoint for user registration
  apps/sugaming-api/assets/i18n/bg/errors.json
  apps/sugaming-api/assets/i18n/bg/validation.json
  apps/sugaming-api/assets/i18n/en/errors.json
  apps/sugaming-api/assets/i18n/en/validation.json
  apps/sugaming-api/src/app/app.config.ts
  apps/sugaming-api/src/users/dto/user-base.dto.ts
  apps/sugaming-api/src/users/dto/user-request-body.dto.ts
  apps/sugaming-api/src/users/dto/user-response-body.dto.ts
  apps/sugaming-api/src/users/dto/user.dto.ts
  apps/sugaming-api/src/users/exceptions/users-email-already-in-use.exception.ts
  apps/sugaming-api/src/users/exceptions/users-nickname-already-in-use.exception.ts
  apps/sugaming-api/src/users/users.controller.ts
  apps/sugaming-api/src/users/users.service.ts
  apps/sugaming-site/app/[locale]/page.tsx
Labels: feature, api

#84 feat(#83): Automatic server joining on Discord account linking
  .env.template
  .github/workflows/ci.yaml
  apps/sugaming-api/assets/i18n/bg/errors.json
  apps/sugaming-api/assets/i18n/en/errors.json
  apps/sugaming-api/src/app/app.config.ts
  apps/sugaming-api/src/app/app.module.ts
  apps/sugaming-discord/src/app/app.config.ts
  apps/sugaming-discord/src/app/app.module.ts
  apps/sugaming-discord/src/main.ts
  apps/sugaming-discord/src/users/users.controller.ts
  apps/sugaming-discord/src/users/users.module.ts
  docker-compose.yaml
  libs/sugaming-services/src/auth/strategies/discord.strategy.ts
  libs/sugaming-services/src/config/lib.config.ts
  libs/sugaming-services/src/users/exceptions/users-no-discord-account-linked.exception.ts
  libs/sugaming-services/src/users/exceptions/users-no-such-discord-guild-role.exception.ts
  libs/sugaming-services/src/users/exceptions/users-no-such-discord-guild.exception.ts
  libs/sugaming-services/src/users/exceptions/users-no-such-member-of-discord-guild.exception.ts
  libs/sugaming-services/src/users/users.service.ts
  package.json
  yarn.lock
Labels: feature, api, discord
