Repository fss-fmi/sugaming, pull requests merged in 2024-02, with the labels that each got.

#91 feat(#85): Log In page
  apps/sugaming-api/src/auth/auth.controller.ts
  apps/sugaming-api/src/main.ts
  apps/sugaming-site/app/[locale]/api/auth/login/discord/route.ts
  apps/sugaming-site/app/[locale]/api/auth/login/steam/route.ts
  apps/sugaming-site/app/[locale]/layout.tsx
  apps/sugaming-site/app/[locale]/login/page.tsx
  apps/sugaming-site/app/[locale]/page.tsx
  apps/sugaming-site/i18n/bg.json
  apps/sugaming-site/i18n/en.json
  apps/sugaming-site/middleware.ts
  components.json
  libs/sugaming-api-client/package.json
  libs/sugaming-api-client/project.json
  libs/sugaming-api-client/src/client/index.ts
  libs/sugaming-api-client/src/next/next-auth.ts
  libs/sugaming-services/src/auth/dto/discord-login-query.dto.ts
  libs/sugaming-services/src/auth/dto/steam-login-query.dto.ts
  libs/sugaming-ui/src/i18n/bg.json
  libs/sugaming-ui/src/i18n/en.json
  libs/sugaming-ui/src/lib/components/common/button/button.tsx
  libs/sugaming-ui/src/lib/components/common/client.ts
  libs/sugaming-ui/src/lib/components/common/form/form.tsx
  libs/sugaming-ui/src/lib/components/common/input/input.tsx
  libs/sugaming-ui/src/lib/components/common/navbar/navbar.tsx
  libs/sugaming-ui/src/lib/components/common/toast/components/toast.tsx
  libs/sugaming-ui/src/lib/components/common/toast/components/toaster.tsx
  libs/sugaming-ui/src/lib/components/common/toast/hooks/use-toast.ts
  libs/sugaming-ui/src/lib/components/common/toast/toast.tsx
  libs/sugaming-ui/src/lib/components/site/login-form/login-form.tsx
  libs/sugaming-ui/src/lib/components/site/login-form/login-from.stories.tsx
  package.json
  pnpm-lock.yaml
Labels: feature, site

#92 ci(#81): Automatic `sugaming-api` and `sugaming-discord` deployment
  .github/workflows/build-and-publish-container-images.yaml
  .github/workflows/build-publish-and-deploy-container-images.yaml
  .github/workflows/release.yaml
  apps/sugaming-api/src/app/app.config.ts
  apps/sugaming-discord/Dockerfile
  apps/sugaming-discord/project.json
  apps/sugaming-discord/src/app/app.config.ts
  terraform/github_action_repository_secrets.tf
  terraform/github_actions_organization_secrets.tf
  terraform/github_repositories.tf
  terraform/variables.tf
Labels: api, deployment, discord

#94 ci(#81): Resolve deployment bash script errors
  .github/workflows/build-publish-and-deploy-container-images.yaml
Labels: bug, deployment

#99 ci(#98): Enable `sugaming-site` deployment logging
  .github/workflows/build-publish-and-deploy-container-images.yaml
  apps/sugaming-site/app/[locale]/layout.tsx
  apps/sugaming-site/next.config.js
  package.json
  pnpm-lock.yaml
Labels: site, deployment

#102 ci(#101): Updated Terraform providers
  terraform/.terraform.lock.hcl
  terraform/github_actions_organization_secrets.tf
  terraform/terraform.tf
Labels: deployment

#100 feat(#87): Sign-up form
  .env.template
  .gitignore
  apps/sugaming-api/assets/i18n/bg/errors.json
  apps/sugaming-api/assets/i18n/bg/validation.json
  apps/sugaming-api/assets/i18n/en/errors.json
  apps/sugaming-api/assets/i18n/en/validation.json
  apps/sugaming-api/src/app/app.config.ts
  apps/sugaming-api/src/app/app.module.ts
  apps/sugaming-api/src/users/users.controller.ts
  apps/sugaming-api/tsconfig.app.json
  apps/sugaming-api/tsconfig.spec.json
  apps/sugaming-discord/tsconfig.app.json
  apps/sugaming-discord/tsconfig.spec.json
  apps/sugaming-site/app/[locale]/login/page.tsx
  apps/sugaming-site/app/[locale]/page.tsx
  apps/sugaming-site/app/[locale]/signup/page.tsx
  apps/sugaming-site/i18n/bg.json
  apps/sugaming-site/i18n/en.json
  libs/sugaming-api-client/src/client/index.ts
  libs/sugaming-api-client/src/next/next-auth.ts
  libs/sugaming-services/src/config/lib.config.ts
  libs/sugaming-services/src/users/dto/user-base.dto.ts
  libs/sugaming-services/src/users/dto/user-request-body.dto.ts
  libs/sugaming-services/src/users/exceptions/users-phone-already-in-use.exception.ts
  libs/sugaming-services/src/users/exceptions/users-university-faculty-number-already-in-use.exception.ts
  libs/sugaming-services/src/users/users.mock.ts
  libs/sugaming-services/src/users/users.service.ts
  libs/sugaming-services/tsconfig.lib.json
  libs/sugaming-services/tsconfig.spec.json
  libs/sugaming-ui/src/i18n/bg.json
  libs/sugaming-ui/src/i18n/en.json
  libs/sugaming-ui/src/lib/components/common/client.ts
  libs/sugaming-ui/src/lib/components/common/image-input/image-input.tsx
  libs/sugaming-ui/src/lib/components/common/password-checklist/password-checklist.tsx
  libs/sugaming-ui/src/lib/components/common/select/select.tsx
  libs/sugaming-ui/src/lib/components/common/tabs/tabs.tsx
  libs/sugaming-ui/src/lib/components/site/client.ts
  libs/sugaming-ui/src/lib/components/site/sign-up-form/components/personal-information-fields.tsx
  libs/sugaming-ui/src/lib/components/site/sign-up-form/components/university-information-fields.tsx
  libs/sugaming-ui/src/lib/components/site/sign-up-form/sign-up-form.tsx
  libs/sugaming-ui/src/lib/components/site/sign-up-form/sign-up-from.stories.tsx
  package.json
  pnpm-lock.yaml
  prisma/migrations/20231025122308_user_basic_information/migration.sql
  prisma/migrations/20240208000537_user_university_information/migration.sql
  prisma/migrations/20240217235006_user_university_proof_images/migration.sql
  prisma/schema.prisma
Labels: feature, api, site

#106 feat(#104): Counter-Strike 2 teams page
  apps/sugaming-api/src/cs2/teams/cs2-teams.controller.ts
  apps/sugaming-site/app/[locale]/cs2/ranking/page.tsx
  apps/sugaming-site/app/[locale]/cs2/teams/page.tsx
  apps/sugaming-site/app/[locale]/layout.tsx
  apps/sugaming-site/app/[locale]/login/page.tsx
  apps/sugaming-site/i18n/bg.json
  apps/sugaming-site/i18n/en.json
  apps/sugaming-site/public/assets/icons/sugaming.png
  libs/sugaming-services/src/config/lib.config.ts
  libs/sugaming-services/src/config/utils.config.ts
  libs/sugaming-services/src/cs2/teams/cs2-teams.service.ts
  libs/sugaming-services/src/cs2/teams/dto/cs2-team-response-body.dto.ts
  libs/sugaming-services/src/cs2/teams/dto/cs2-teams-base.dto.ts
  libs/sugaming-ui/src/i18n/bg.json
  libs/sugaming-ui/src/i18n/en.json
  libs/sugaming-ui/src/lib/components/common/card/components/card.tsx
  libs/sugaming-ui/src/lib/components/common/client.ts
  libs/sugaming-ui/src/lib/components/common/hover-card/hover-card.tsx
  libs/sugaming-ui/src/lib/components/common/navbar/navbar.tsx
  libs/sugaming-ui/src/lib/components/site/client.ts
  libs/sugaming-ui/src/lib/components/site/logo/logo.tsx
  libs/sugaming-ui/src/lib/components/site/navbar-links/components/navbar-links-mobile.tsx
  libs/sugaming-ui/src/lib/components/site/navbar-links/navbar-links.tsx
  libs/sugaming-ui/src/lib/components/site/server.ts
  libs/sugaming-ui/src/lib/components/site/team-card/team-card.tsx
  libs/sugaming-ui/src/lib/components/site/team-member-avatar/team-member-avatar.tsx
  package.json
  pnpm-lock.yaml
Labels: feature, api, site

#108 feat(#95): Automated creation of discord channels upon CS2 team creation
  apps/sugaming-api/assets/i18n/bg/errors.json
  apps/sugaming-api/assets/i18n/en/errors.json
  apps/sugaming-discord/src/app/app.module.ts
  apps/sugaming-discord/src/cs2-teams/cs2-teams.controller.ts
  apps/sugaming-discord/src/cs2-teams/cs2-teams.module.ts
  libs/sugaming-services/src/cs2/teams/cs2-teams.service.spec.ts
  libs/sugaming-services/src/cs2/teams/cs2-teams.service.ts
  libs/sugaming-services/src/cs2/teams/exceptions/cs2-teams-no-discord-guild-role.exception.ts
  libs/sugaming-services/src/users/users.service.ts
Labels: feature, api, discord
